/* ═══════════════════════════════════════════════════ */
/* Bangla — Kaithi
   U+11080-110CF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-kaithi.css
*/
/* ═══════════════════════════════════════════════════ */

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-kaithi-400.woff2") format("woff2");
  unicode-range: U+11080-110CF;
}
