/* Bangla — greek — Thin
   unicode-range: U+0370-03FF, U+1F00-1FFF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-greek-100.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-100.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}
