/* Bangla — balinese — Regular
   unicode-range: U+1B00-1B7F, U+A980-A9DF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-balinese-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-balinese-400.woff2") format("woff2");
  unicode-range: U+1B00-1B7F, U+A980-A9DF;
}
