/* Bangla — sogdian — Regular
   unicode-range: U+10F30-10F6F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-sogdian-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-sogdian-400.woff2") format("woff2");
  unicode-range: U+10F30-10F6F;
}
