/* ═══════════════════════════════════════════════════ */
/* Bangla — Thaana — ދިވެހި (Maldivian)
   U+0780-07BF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-thaana.css
*/
/* ═══════════════════════════════════════════════════ */

/* Thin */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-100.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* ExtraLight */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-200.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* Light */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-300.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-400.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* Medium */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-500.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* SemiBold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-600.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* Bold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-700.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* ExtraBold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-800.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}

/* Black */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-900.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}
