/* Bangla — hebrew — Bold
   unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-hebrew-700.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-hebrew-700.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
