/* Bangla — tifinagh — Regular
   unicode-range: U+2D30-2D7F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-tifinagh-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-tifinagh-400.woff2") format("woff2");
  unicode-range: U+2D30-2D7F;
}
