/* ═══════════════════════════════════════════════════ */
/* Bangla — Ol Chiki — Santali
   U+1C50-1C7F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-ol-chiki.css
*/
/* ═══════════════════════════════════════════════════ */

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-ol-chiki-400.woff2") format("woff2");
  unicode-range: U+1C50-1C7F;
}

/* Medium */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/weights/Bangla-ol-chiki-500.woff2") format("woff2");
  unicode-range: U+1C50-1C7F;
}

/* SemiBold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/weights/Bangla-ol-chiki-600.woff2") format("woff2");
  unicode-range: U+1C50-1C7F;
}

/* Bold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-ol-chiki-700.woff2") format("woff2");
  unicode-range: U+1C50-1C7F;
}
