/* ═══════════════════════════════════════════════════ */
/* Bangla — Hebrew — עברית
   U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-hebrew.css
*/
/* ═══════════════════════════════════════════════════ */

/* Thin */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/weights/Bangla-hebrew-100.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* Light */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/weights/Bangla-hebrew-300.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-hebrew-400.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* Bold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-hebrew-700.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* Black */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/weights/Bangla-hebrew-900.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
