/* Bangla — gurmukhi — SemiBold
   unicode-range: U+0A00-0A7F, U+200C, U+200D
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-gurmukhi-600.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/weights/Bangla-gurmukhi-600.woff2") format("woff2");
  unicode-range: U+0A00-0A7F, U+200C, U+200D;
}
