/* Bangla — arabic — Light
   unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-arabic-300.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/weights/Bangla-arabic-300.woff2") format("woff2");
  unicode-range: U+0600-06FF, U+0750-077F, U+08A0-08FF, U+FB50-FDFF, U+FE70-FEFF;
}
