/* Bangla — takri — Regular
   unicode-range: U+11680-116CF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-takri-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-takri-400.woff2") format("woff2");
  unicode-range: U+11680-116CF;
}
