/* Bangla — phoenician — Regular
   unicode-range: U+10900-1091F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-phoenician-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-phoenician-400.woff2") format("woff2");
  unicode-range: U+10900-1091F;
}
