/* Bangla — warang-citi — Regular
   unicode-range: U+118A0-118FF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-warang-citi-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-warang-citi-400.woff2") format("woff2");
  unicode-range: U+118A0-118FF;
}
