/* Bangla — sinhala — Medium
   unicode-range: U+0D80-0DFF, U+111E0-111FF, U+200C, U+200D
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-sinhala-500.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/weights/Bangla-sinhala-500.woff2") format("woff2");
  unicode-range: U+0D80-0DFF, U+111E0-111FF, U+200C, U+200D;
}
