/* Bangla — osage — Regular
   unicode-range: U+104B0-104D3, U+104D8-104FB
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-osage-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-osage-400.woff2") format("woff2");
  unicode-range: U+104B0-104D3, U+104D8-104FB;
}
