/* ═══════════════════════════════════════════════════ */
/* Bangla — Meetei Mayek — Manipuri
   U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-meetei-mayek.css
*/
/* ═══════════════════════════════════════════════════ */

/* Thin */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-100.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* ExtraLight */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-200.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* Light */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-300.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-400.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* Medium */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-500.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* SemiBold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-600.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* Bold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-700.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* ExtraBold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-800.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}

/* Black */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/weights/Bangla-meetei-mayek-900.woff2") format("woff2");
  unicode-range: U+AAE0-AAF6, U+ABC0-ABED, U+ABF0-ABF9;
}
