/* ═══════════════════════════════════════════════════ */
/* Bangla — Manichaean
   U+10AC0-10AFF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-manichaean.css
*/
/* ═══════════════════════════════════════════════════ */

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-manichaean-400.woff2") format("woff2");
  unicode-range: U+10AC0-10AFF;
}
