/* Bangla — hanifi-rohingya — Bold
   unicode-range: U+10D00-10D3F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-hanifi-rohingya-700.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-hanifi-rohingya-700.woff2") format("woff2");
  unicode-range: U+10D00-10D3F;
}
