/* Bangla — multani — Regular
   unicode-range: U+11280-112AF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-multani-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-multani-400.woff2") format("woff2");
  unicode-range: U+11280-112AF;
}
