/* Bangla — ogham — Regular
   unicode-range: U+1680-169F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-ogham-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-ogham-400.woff2") format("woff2");
  unicode-range: U+1680-169F;
}
