/* Bangla — old-turkic — Regular
   unicode-range: U+10C00-10C4F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-old-turkic-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-old-turkic-400.woff2") format("woff2");
  unicode-range: U+10C00-10C4F;
}
