/* Bangla — chakma — Regular
   unicode-range: U+11100-1114F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-chakma-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-chakma-400.woff2") format("woff2");
  unicode-range: U+11100-1114F;
}
