/* Bangla — myanmar — Regular
   unicode-range: U+1000-109F, U+A9E0-A9FE, U+AA60-AA7F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-myanmar-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-myanmar-400.woff2") format("woff2");
  unicode-range: U+1000-109F, U+A9E0-A9FE, U+AA60-AA7F;
}
