/* Bangla — batak — Regular
   unicode-range: U+1BC0-1BFF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-batak-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-batak-400.woff2") format("woff2");
  unicode-range: U+1BC0-1BFF;
}
