/* Bangla — Nyiakeng Puachue Hmong (SE Asia)
   U+1E100-1E14F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-nyiakeng-hmong.css */

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-nyiakeng-hmong-400.woff2") format("woff2");
  unicode-range: U+1E100-1E14F;
}
