/* Bangla — thaana — ExtraLight
   unicode-range: U+0780-07BF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-thaana-200.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/weights/Bangla-thaana-200.woff2") format("woff2");
  unicode-range: U+0780-07BF;
}
