/* Bangla — lydian — Regular
   unicode-range: U+10920-1093F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-lydian-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-lydian-400.woff2") format("woff2");
  unicode-range: U+10920-1093F;
}
