/* Bangla — lycian — Regular
   unicode-range: U+10280-1029F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-lycian-400.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-lycian-400.woff2") format("woff2");
  unicode-range: U+10280-1029F;
}
