/* Bangla — Nandinagari (Karnataka, India)
   U+119A0-119FF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-nandinagari.css */

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-nandinagari-400.woff2") format("woff2");
  unicode-range: U+119A0-119FF;
}
