/* ═══════════════════════════════════════════════════ */
/* Bangla — Greek — Ελληνικά
   U+0370-03FF, U+1F00-1FFF
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-greek.css
*/
/* ═══════════════════════════════════════════════════ */

/* Thin */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-100.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* ExtraLight */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-200.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* Light */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-300.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* Regular */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-400.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* Medium */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-500.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* SemiBold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-600.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* Bold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-700.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* ExtraBold */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-800.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}

/* Black */
@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/weights/Bangla-greek-900.woff2") format("woff2");
  unicode-range: U+0370-03FF, U+1F00-1FFF;
}
