/* Bangla — armenian — Bold
   unicode-range: U+0530-058F, U+FB00-FB4F
   CDN: https://cdn.jsdelivr.net/gh/aicmsbd/bangla-fonts@main/css/bangla-armenian-700.css */

@font-face {
  font-family: "Bangla";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/weights/Bangla-armenian-700.woff2") format("woff2");
  unicode-range: U+0530-058F, U+FB00-FB4F;
}
